* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #7f7f7f;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* -- FORM -- */
.main-form {
  width: 50%;
  height: 70%;
  box-shadow: 0 0 20px 5px #ccc;
  overflow: auto;
}

/* -- HEADING BOX SECTION -- */
.heading-box {
  display: flex;
  margin-top: 10px;
  box-shadow: 0 2px 10px 1px #ccc;
  justify-content: space-between;
}

.heading {
  flex: 1;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 25px;
}

.filter-search-container {
  flex: 2;
  display: flex;
}

/* SEARCH BAR */
.search-container {
  /* flex: 2; */
  flex-basis: 70%;
}

.searchbox {
  width: 25px;
  height: 25px;
  margin: 7px 10px 0px 0;
  font-size: 20px;
  float: right;
  border: 3px #ccc solid;
  border-radius: 50%;
  background: #fff;
  /* LINK FOR SEARCH ICON
    https://www.pinclipart.com/picdir/big/485-4851736_free-png-search-icon-search-icon-free-download.png */
  background-image: url("https://www.pinclipart.com/picdir/big/485-4851736_free-png-search-icon-search-icon-free-download.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.5s ease-in-out, box-shadow 0.2s ease-in-out;
}

.searchbox:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 #ccc;
}

.searchbox:focus {
  cursor: text;
  width: 90%;
  border-radius: 25px 25px 25px 25px;
  outline: none;
  text-indent: 15px;
  background-position-x: 97%;
  box-shadow: 0 0 10px 0 #ccc;
}

/* FILTER */
.filter-container {
  /* flex: 1; */
  flex-basis: 30%;
  border-left: 2px #ccc solid;
}

.filter {
  color: #7f7f7f;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  word-wrap: normal;
}

/* -- ADD NOTE SECTION -- */
.add-note-box {
  display: flex;
  padding-top: 10px;
  height: 35px;
  margin: 15px 50px;
}

.txt-add-note {
  flex: 1;
  font-size: 20px;
  color: #4f4f4f;
  padding-left: 15px;
  border: 2px solid #ccc;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0 0 10px 1px #ccc;
  outline: none;
}

.btn-add {
  width: 25px;
  height: 25px;
  border: 2px #999 solid;
  border-radius: 50%;
  cursor: pointer;
  margin: 4px 0px 4px 5px;
  box-shadow: 0 0 4px 0px #ccc inset;
}

.btn-add .line {
  height: 2px;
  width: 65%;
  background-color: #999;
}

.btn-add .line:nth-child(1) {
  transform: rotate(90deg) translate(11px, -5px);
}
.btn-add .line:nth-child(2) {
  transform: translate(5px, 10px);
}

/* -- TO DO ITEMS SECTION -- */
.todo-items {
  list-style: none;
  font-size: 30px;
  margin: 15px 50px;
}

.todo-items li {
  display: flex;
  padding-bottom: 5px;
  border-bottom: 3px #ccc dotted;
}

.btn-unchecked {
  width: 25px;
  height: 25px;
  border: 2px #ccc solid;
  border-radius: 50%;
  cursor: pointer;
  margin: 10px 10px 10px 0;
}
.btn-checked {
  width: 25px;
  height: 25px;
  border: 2px #ccc solid;
  border-radius: 50%;
  margin: 10px 10px 10px 0;
  box-shadow: 0 0 11px 1px #5eff5a inset;
  cursor: pointer;
}

.item-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-box .item {
  flex: 1;
  outline: none;
}

.btn-delete {
  width: 25px;
  height: 25px;
  border: 2px #ccc solid;
  border-radius: 50%;
  margin: 10px 0 10px 10px;
  box-shadow: 0 0 10px 1px #ff4a3e inset;
  cursor: pointer;
}
